In [ ]:
import pandas
df = pandas.read_csv('salaries_by_college_major.csv')
df.head()

In [ ]:
df.shape

In [ ]:
df.columns

In [ ]:
df.isna()

In [ ]:
df.tail()

In [11]:
clean_df = df.dropna()

In [ ]:
clean_df.tail()

In [ ]:
clean_df['Starting Median Salary']

In [ ]:
clean_df['Starting Median Salary'].max()

In [ ]:
clean_df['Starting Median Salary'].idxmax()

In [ ]:
clean_df['Undergraduate Major'].loc[43]

In [ ]:
clean_df['Undergraduate Major'][43]

In [ ]:
clean_df.loc[43]

In [ ]:
print(clean_df['Mid-Career Median Salary'].max())
print(f"Index for the max mid career salary: {clean_df['Mid-Career Median Salary'].idxmax()}")
clean_df['Undergraduate Major'][8]

In [ ]:
print(clean_df['Starting Median Salary'].min())
clean_df['Undergraduate Major'].loc[clean_df['Starting Median Salary'].idxmin()]

In [ ]:
clean_df.loc[clean_df['Mid-Career Median Salary'].idxmin()]

In [ ]:
clean_df['Mid-Career 90th Percentile Salary'] - clean_df['Mid-Career 10th Percentile Salary']

In [ ]:
clean_df['Mid-Career 90th Percentile Salary'].subtract(clean_df['Mid-Career 10th Percentile Salary'])

In [ ]:
spread_col = clean_df['Mid-Career 90th Percentile Salary'] - clean_df['Mid-Career 10th Percentile Salary']
clean_df.insert(1, 'Spread', spread_col)
clean_df.head()

In [ ]:
low_risk = clean_df.sort_values('Spread')
low_risk[['Undergraduate Major', 'Spread']].head()

In [ ]:
highest_potential = clean_df.sort_values('Mid-Career 90th Percentile Salary', ascending=False)
highest_potential[['Undergraduate Major', 'Mid-Career 90th Percentile Salary']].head()

In [ ]:
highest_spread = clean_df.sort_values('Spread', ascending=False)
highest_spread[['Undergraduate Major', 'Spread']].head()

In [ ]:
clean_df.groupby('Group').count()

In [ ]:
clean_df.groupby('Group').mean()

In [32]:
pandas.options.display.float_format = '{:,.2f}'.format